@import "../../../styles/global";

.menu-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: .5vh 1vw 1vh 0;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  left: 20px;
  margin-bottom: 4vh;
  font-family: $Poppins-Medium;
  color: $gray;
  .icon{
    svg{
      font-size: 30px;
    }
  }

  &.active {
    width: max-content;
    // background-color: #e22028;
    background: linear-gradient(0deg, #36140B 0%, #744323 97%, #744323 100%), linear-gradient(0deg, #FFD990 0.2%, #FFE6AE 35.1%, #F5F3EA 74%, #F1F1EC 99.92%);


    // color: #ffffff;
    color: #FFD990;
    border-radius: 5px;

    .icon {
      color: #ffffff;
    }
  }


  .icon {
    padding: .5vh 1vw .5vh .5vw;
  }

  .title-wrapper {
    //flex: 1;
    width: 0;
    transition: all 0.5s;

    &.expanded {
      font-size: 18px;
      width: auto;
    }

    .title {
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0 5px 0 2px;
    }
  }


}

