@import "../../../styles/global";

.login-input-field {
  text-align: start;
  font-size: 18px;
  width: 100%;
  min-height: 7vh;
  outline: none;
  border: none;
  font-family: $Poppins-Regular;
  padding-left: .5em;
}



